html,
body,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.author {
    font-family: Grotesk;
    font-size: 26px;
    color: #000000;
    letter-spacing: 0.013em;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    margin-left: 3%;
}

section {
    margin: 100px 3% 8%;
    display: flex;
    justify-content: space-around;
}

section div {
    width: 100%;
}

section div img {
    width: 100%;
}

.portfolio .left {
    margin-left: 3%;
}

.portfolio .right {
    padding-top: 8vw;
    margin-left: 20%;
}

.portfolio .title {
    font-family: Grotesk;
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
}

.portfolio .center {
    margin-left: 4%;
    width: 52%;
}

.portfolio .calendar {
    width: 56%;
    flex: 1;
}

.portfolio .sntky {
    width: 80%;
    margin-top: 12%;
    flex: 1;
}


.portfolio .in_town {
    width: 40%;
}

.portfolio .posters {
    width: 28%;
}

.portfolio.start {
    justify-content: start;
}

.portfolio.mb0 {
    margin-bottom: 0;
}

.portfolio .phovea {
    width: 28%;
    margin-left: 8%;
    position: relative;
    top: -180px;
}

.portfolio .ntky {
    width: 46%;
    margin-left: 16%;
}

.portfolio .huber {
    width: 52%;
}

.portfolio .alice {
    width: 28%;
    margin-left: 14%;
}

.portfolio .masque {
    width: 22%;
    margin-left: 6%;
    position: relative;
    top: 75px;
}

.portfolio .telephone {
    width: 46%;
    margin-left: 14%;
}

.portfolio .is_war {
    width: 40%;
}

.portfolio .belvedere {
    margin-left: 20%;
    width: 28%;
}

.portfolio .movie {
    width: 58%;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

footer a {
    font-family: Grotesk;
    color: #000000;
}

@media screen and (max-width: 750px) {
    .portfolio{
        flex-direction: column;
        margin-top: 0;
    }
    .portfolio .left, .portfolio .right {
        margin-left: 0;
    }
    .portfolio .center{
        margin-left: 0;
        width: 100%;
        margin: 0;
    }
    .portfolio .calendar, .portfolio .sntky, .portfolio .in_town{
        width: 100%;
    }
    .portfolio .phovea, .portfolio .masque, .portfolio .is_war{
        width: 100%;
        margin-left: 0;
        top: 0;
    }
    .portfolio .belvedere, .portfolio .ntky, .portfolio .alice, .portfolio .huber, .portfolio .posters, .portfolio .telephone{
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }
}